* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
input,
select,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #e5e5e5;
}
html {
    scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}
:root {
    --main-color: #ff5b2e;
}
/* common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
/*============Header=============== */
header {
    margin-top: 26px;
    position: sticky;
    top: 10px;

    z-index: 1000;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* logo */
.logo {
    display: flex;
    justify-content: centers;
    align-items: center;
}
.logo__img {
    margin-right: 10px;
}
.logo__title {
    color: #000958;
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

/* nav */
.nav__list {
    display: flex;
}
.nav-item + .nav-item {
    margin-left: 30px;
}
.nav-item:first-child {
    margin-left: 0;
}
.nav-link {
    padding: 6px;
    font-weight: 600;
    font-size: 1.6rem;
    color: #000958;
    transition: 0.3s ease-in-out;
}
.nav-link:hover {
    text-decoration: underline;
    text-shadow: 1px 0 0 #fff;
    color: #fff;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: #000958;
}
/* button */
.header__button {
    cursor: pointer;
    width: 117px;
    height: 50px;
    border-radius: 25px;
    opacity: 0.7;
    background-color: transparent;
    border: 1px solid #000958;
    transition: 0.4s ease-in-out;
}

.header__button a {
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;

    color: #000958;
}
.header__button:hover {
    background-color: #000958;
}
.header__button:hover a {
    color: #fff;
    text-shadow: 1px 0 0 #fff;
}
/*hero media */

.hero-body {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 150px;
}
.hero-media {
    display: flex;
    position: relative;
}
.hero-img-wrap {
    position: relative;
    width: 388px;
    height: 488px;
    background: #fe997b;
    border-radius: 16px;
    border: 1px solid #fff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.hero-pet-01 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 16px;
}
.decor {
    position: absolute;
}
.decor-left {
    bottom: 10px;
    left: -58px;
    z-index: -1;
}
.decor-right {
    top: 16.66px;
    right: -40px;
    z-index: -1;
}
.hero-img-small {
    position: absolute;
    width: 186px;
    height: 244px;
    background: #faa7ad;
    border: 3px solid #fddfe2;
    align-self: flex-end;
    right: -159px;
    bottom: -58px;
}
.hero-img-info {
    width: 250px;
    height: 156px;
    background: #ffffff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
    position: absolute;

    left: 129px;
    bottom: -94px;
}
.hero__img-item {
    display: flex;
    align-items: center;

    margin-top: 18px;
    margin-left: 14px;
    margin-right: 14px;
    padding-bottom: 20px;

    border-bottom: 2px solid #f2f2f2;
}

.hero__img-item:last-child {
    padding-top: 20px;
    padding-bottom: 0;
    border-bottom: 0;
    margin-top: 0;
}
.hero__img-bg {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background: #fec23f;
    border-radius: 10px;
    overflow: hidden;
}
.hero__bg-under {
    background: #c6e2fa;
}
.hero__info-header {
    text-transform: capitalize;
    margin-bottom: 7px;
}
.loading-01,
.loading-02 {
    display: block;
    width: 118px;
    height: 4px;
    background: #000958;
    opacity: 0.08;
    border-radius: 10px;
}
.loading-02 {
    width: 40px;
    margin-top: 6px;
}
/* content */
.content {
    max-width: 44%;
}
.content-header {
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
    color: #000958;
}
.content-desc {
    margin-top: 24px;
    margin-bottom: 38px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
    max-width: 391px;
}
.content-btn {
    cursor: pointer;
    width: 190px;
    height: 60px;
    background: #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    border-radius: 31px;
    border: 1px solid #ff5b2e;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.content-btn > a {
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;

    color: #ffffff;
    margin-right: 10px;
}
.content-btn svg {
    color: #fd5056;
}
.content-btn > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fffaf5;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}
.content-link {
    display: flex;
    align-items: center;
}
.content-link > a {
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
    padding: 4px;
    color: #000958;
}
.content-link > a:hover {
    text-decoration-line: underline;
    text-shadow: 1px 0 0 #000958;
}
/* about */
.about-body {
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 65px;
}
.about-content {
    max-width: 41%;
}
.about-header {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: #000958;
}
.about-desc {
    margin-top: 24px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
    max-width: 431px;
}
.about-container {
    margin-top: 55px;
    display: grid;
    justify-content: flex-start;
    grid-template-columns: auto auto;
    column-gap: 38px;
    row-gap: 35px;
}
.about-item {
    font-weight: 500;
    font-size: 1.8rem;
    color: #48496a;
    text-transform: capitalize;
}
/* =====làm thẻ checkbox======== */
.about-item > label {
    position: relative;
    cursor: pointer;
}
.about-item [type="checkbox"] ~ label::before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
    margin-right: 10px;
}
.about-item [type="checkbox"]:checked ~ label::after {
    position: absolute;
    top: 4px;
    left: 2px;
    content: "";
    display: inline-block;
    width: 10px;
    height: 7px;
    background-color: transparent;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    rotate: -45deg;
}
/* =================================== */
.about-media {
    position: relative;
}
.about__img-main {
    position: relative;
    display: flex;
    width: 494px;
    height: 560px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    border-radius: 16px;
    /* overflow: hidden; */
}
.img-men {
    align-self: flex-end;
    max-width: 100%;
    max-height: 100%;
}
.about__decor {
    position: absolute;
    right: -50px;
    top: -60px;
    z-index: -1;
}
.about__img-desc {
    position: absolute;
    top: -70px;
    left: -92px;
    width: 138px;
    height: 158px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
    border-radius: 10px;
}
.about__img-desc-title {
    text-align: center;
    padding: 30px 0;
}
.about__plus {
    font-weight: 700;
    font-size: 4.2rem;

    color: #ffffff;
}
.about__info {
    margin: 14px auto 0;
    max-width: 83px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.43;
    /* text-align: center; */

    color: #c6f4f9;
}
.about__icon {
    position: absolute;
    top: -20px;
    right: 0;
}
/* vacation */
.vacation-body {
    padding-top: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 130px;
}
.vacation-content {
    max-width: 48%;
}
.vacation__header {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: #000958;
}
.vacation__desc {
    max-width: 511px;
    margin-top: 24px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}
.vacation__pet-option {
    margin-top: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #f4d4c8;
    /* border-bottom: 2px solid red; */
    padding-bottom: 10px;
}
.vacation__pet {
    display: flex;
    align-items: center;
}
.vacation__title {
    margin-top: 36px;
    color: #656689;
    line-height: 1.71;
    font-size: 14px;
    max-width: 391px;
}
.vacation__link {
    display: inline-block;
    text-transform: capitalize;
    margin-top: 37px;
    font-weight: 500;
    font-size: 1.6rem;
    color: #ff5d31;
    padding: 5px 5px 5px 0;
    transition: 0.3s ease-in-out;
}
.vacation__link:hover {
    text-decoration: underline;
    text-shadow: 1px 0 0 #ff5d31;
}
.vacation-media__image {
    position: relative;
    width: 458px;
    height: 500px;

    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    border: 2px solid #ffffff;
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    border-radius: 18px;
}
.vacation__decor {
    position: absolute;
}
.vacation__decor:nth-child(2) {
    right: -42px;
    bottom: -55px;
}
.vacation__decor:nth-child(3) {
    right: 19px;
    bottom: 150px;
}
.vacation__decor:nth-child(4) {
    right: -36px;
    bottom: 193px;
}
.vacation__decor:nth-child(5) {
    top: 12px;
    right: 63px;
}
.vacation__decor:nth-child(6) {
    right: 13px;
    top: -16px;
}
.vacation__decor:nth-child(7) {
    top: 33px;
    right: -21px;
}
/* services */
.service {
    padding-top: 65px;
    background: #fff6ed;
    padding-bottom: 100px;
    margin-bottom: 130px;
}
.service-title {
    margin-top: 5px;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;

    color: #5e6085;
    text-transform: uppercase;
}
.service-header {
    padding-top: 15px;
    font-weight: 700;
    font-size: 5.2rem;
    text-align: center;
    /* padding-top: 86px; */
    color: #000958;
}
.service-media {
    margin-top: 31px;
    position: relative;
}
.service-media__list {
    display: grid;
    grid-template-columns: auto auto; /* tạo ra 2 cột bằng nhau */
    grid-template-rows: repeat(3, auto);
    justify-content: space-between;
    align-items: center;
    row-gap: 24px;
}
.servicce-media__item {
    width: 294px;
    height: 208px;
    background: #ffffff;
    border: 2px solid rgba(255, 188, 122, 0.26);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 0 22px 0 28px;
    text-align: left;
}
.service-media__item--header {
    font-weight: 600;
    font-size: 2.2rem;
    color: #000958;
    display: flex;
    align-items: center;
}
.service-media__item--header::before {
    content: "";
    display: inline-block;
    margin-right: 12px;
    width: 2px;
    height: 22px;
    background: rgb(255, 161, 135);
    background: linear-gradient(
        270deg,
        rgba(255, 161, 135, 1) 100%,
        rgba(255, 91, 46, 1) 100%
    );
}
.service-media__item--desc {
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}
.service-media__item--link {
    display: inline-block;
    display: flex;
    align-items: center;
    margin-top: 24px;
    font-family: "Sora";
    font-weight: 400;
    font-size: 1.2rem;
    color: #34396a;
}
.service-media__item--link > span {
    margin-left: 6px;
}
.service-media__image {
    margin: auto auto;
    position: absolute;
    bottom: 75px;
    left: 358px;
}
.service-media__img {
    width: 440px;
    height: 350px;
    background: #79d5e0;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.service-btn {
    cursor: pointer;
    display: block;
    /* margin: 0 auto; */
    margin-left: auto !important;
    margin-right: auto !important;
    opacity: 0.6;
    border: 1px solid #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    border-radius: 31px;
    background-color: transparent;
    width: 214px;
    height: 56px;
    /* margin-top: 7px; */
}
.service-btn > a {
    font-weight: 500;
    font-size: 1.6ren;
    text-align: center;

    color: #ff5b2e;
}
/* groomer */
.groomer-body {
    margin-bottom: 130px;
}
.groomer-media {
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.groomer-image {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 234px;
    height: 266px;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
    border-radius: 129.5px;
    /* overflow: hidden; */
}
.groomer-avarta:nth-child(2) .groomer-image {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.groomer-avarta:nth-child(3) .groomer-image {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.groomer-avarta:nth-child(4) .groomer-image {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.groomer-image > img {
    /* position: absolute; */
    /* top: -15px; */
    /* top: -20px; */
    border-radius: 129.5px;
    width: 240px;
    height: 290px;
}
.groomer-avarta > span {
    display: block;
    margin-top: 30px;
    text-align: center;

    font-weight: 400;
    font-size: 1.4rem;
    color: #656689;
}
.groomer-title {
    margin-top: 14px;
    text-align: center;

    font-weight: 600;
    font-size: 2.2rem;
    color: #000958;
}
.groomer-btn {
    margin-top: 48px;
}
/* choice */
.choice-desc {
    margin: 25px auto 0;
    max-width: 710px;
    text-align: center;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    text-align: center;

    color: #656689;
}
/* switch */
.switch {
    margin: 38px auto 0;
    text-align: center;
}
.switch label {
    position: relative;
    display: inline-flex;
    width: 270px;
    height: 56px;

    border: 1px solid;
    border-color: rgb(255 91 46 / 60%);
    cursor: pointer;
    border-radius: 31px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
.switch label span {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    user-select: none;
    text-align: center;

    color: #ffffff;
    /* color: #ff5b2e; */
    z-index: 1;
}
.switch label::before {
    position: absolute;
    top: 0;
    left: 0;

    content: "";
    display: inline-block;
    width: 130px;
    height: 56px;
    background: #ff5b2e;
    border-radius: inherit;
    transition: 0.4s ease-in-out;
}
.switch [type="checkbox"]:checked + label::before {
    left: auto;
    right: 0;
}
.switch [type="checkbox"]:not(:checked) + label span:last-child {
    color: #ff5b2e;
}
.switch [type="checkbox"]:checked + label span:first-child {
    color: #ff5b2e;
}
/* choice */
.choice {
    background: #fff6ed;
    padding: 86px 0;
    margin-bottom: 53px;
}
.choice-list {
    margin-top: 56px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}
.choice-item {
    width: 302px;
    height: 465px;
    background: #ffffff;
    border-radius: 20px;
    padding: 30px 28px 43px;
    transition: 0.3s ease-in-out;
}
.choice-item:hover {
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}
.choice-item__title,
.choice-item__header,
.choice-item__price {
    display: block;
}
.choice-item__title {
    font-weight: 400;
    font-size: 1.2rem;
    color: #ff5b2e;
}
.choice-item__header {
    padding-top: 8px;
    padding-bottom: 24px;
    font-weight: 600;
    font-size: 1.8rem;
    color: #3f4065;
}
.choice-item__price {
    font-weight: 700;
    font-size: 3.3rem;
    color: #000958;
}
.choice-item__btn {
    cursor: pointer;
    margin-top: 22px;
    margin-bottom: 24px;
    width: 100%;
    height: 44px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    border-radius: 39px;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}
.choice-item__btn > a {
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;

    color: #ff5b2e;
}
.choice-item__text {
    font-weight: 400;
    font-size: 1.4rem;
    color: #656689;
}
.choice-item__text + .choice-item__text {
    margin-top: 18px;
}
.choice-item__text::before {
    content: "";
    width: 10px;
    height: 7px;
    background-color: transparent;
    margin: auto 12px 0;
    /* position: absolute; */
    border-left: 2px solid #ff5b2e;
    border-bottom: 2px solid #ff5b2e;
    display: inline-block;
    rotate: -45deg;
}
.choice-item__text:nth-child(5)::before {
    border-left: 2px solid rgba(255, 91, 46, 0.4);
    border-bottom: 2px solid rgba(255, 91, 46, 0.4);
}
.choice-item__text:nth-child(6)::before {
    border-left: 2px solid rgba(255, 91, 46, 0.4);
    border-bottom: 2px solid rgba(255, 91, 46, 0.4);
}
.choice-item__text:nth-child(7)::before {
    border-left: 2px solid rgba(255, 91, 46, 0.4);
    border-bottom: 2px solid rgba(255, 91, 46, 0.4);
}
.choice-item__btn:hover {
    background: #ff5b2e;
}
.choice-item__btn:hover > a {
    color: #fff;
}
/* review */
.review-body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 103px;
    padding-bottom: 180px;
}

.review__title {
    max-width: 47%;
}
.review-header {
    text-align: left;
}
.review__desc {
    margin-top: 24px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #000000;
}
.review__title-name {
    margin-top: 34px;
    font-weight: 600;
    font-size: 1.8rem;
    color: #282828;
    display: flex;
    align-items: center;
}
.review__title-name::before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 20px;
    background-color: black;
    margin-right: 10px;
}
.review__cheverol {
    display: flex;
    justify-content: space-between;
}
.review-img__main {
    position: relative;
    width: 274px;
    height: 350px;
    background: #ffda54;
    border-radius: 137px;
}
.review-img__main > img {
    position: absolute;
    bottom: 0;
    width: 274px;
    height: 427px;
    border-radius: 137px;
}
.review__cheverol {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    color: #ff5b2e;
    border: 1px solid #ff5b2e;
    transition: 0.3s ease-in-out;
}
.chevrol-right {
    rotate: -180deg;
}
.review__cheverol:hover {
    background-color: #ff5b2e;
    box-shadow: 0px 5px 27px rgba(255, 91, 46, 0.3);

    color: #fff;
}
.decor {
    cursor: pointer;
    margin: auto;
    margin-top: 56px;
}
.cricle {
    display: inline-block;

    border-radius: 50%;
    border: 1px solid #ff5b2e;
    width: 10px;
    height: 10px;
}
.cricle:hover {
    background-color: #ff5b2e;
}
/* blog */

.blog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-header {
    text-align: left;
}
.blog-action {
    max-width: 350px;
}
.blog__action-desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}
.blog__acton-btn {
    cursor: pointer;
    margin-top: 24px;
    width: 182px;
    height: 56px;
    opacity: 0.6;
    border: 1px solid #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    border-radius: 31px;
}
.blog__acton-btn > a {
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;

    color: #ff5b2e;
}
.blog__media {
    margin-top: 55px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 48px;
}
.blog__media-pic {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* align-items: flex-end; */
    width: 358px;
    height: 362px;
    background: #90ccff;
    border-radius: 24px;
    overflow: hidden;
}
.blog__media-item:nth-child(2) > .blog__media-pic {
    background: #ff997e;
}
.blog__media-item:nth-child(3) > .blog__media-pic {
    background: #5bd6e2;
}
.blog__media-pic > img {
    max-width: 100%;
    max-height: 100%;
    align-self: flex-end;
}
.blog__media-date {
    display: inline-block;
    font-weight: 400;
    font-size: 1.4rem;
    color: #ffffff;

    padding: 24px 30px;
}
.blog__media-title {
    margin-top: 28px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.55;
    color: #000958;
}
.blog__media-desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}
/* footer */
.footer {
    padding-top: 130px;
    display: flex;
    /* align-items: center; */
    align-items: flex-start;
    justify-content: space-evenly;
    /* padding-bottom: 130px; */
}

.footer__social {
    padding-top: 114px;
    padding-left: 135px;
    width: 615px;
    height: 516px;
    background: #fff6ed;
}
.footer-body {
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
}

.input {
    margin-top: 35px;
    display: flex;
    align-items: center;
}
.input > input {
    width: 268px;
    height: 46px;
    background: #ffffff;
    opacity: 0.6;
    border: 1px solid rgba(255, 91, 46, 0.25);
    border-radius: 23px;
}
.input > input[placeholder] {
    padding-left: 30px;
}

.footer .review__cheverol > svg {
    rotate: -180deg;
}
.footer__title {
    margin-top: 68px;
    font-weight: 600;
    font-size: 2rem;
    text-align: left;
    color: #000958;
}
.footer-icon {
    margin-top: 16px;
}
.footer-icon > i + i {
    margin-left: 16px;
}
.footer-icon > i {
    font-size: 2rem;
    color: #ff997e;
}
.footer__contact {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 100px;
    row-gap: 58px;
    margin-top: 52px;
}
.footer__contact-item > a {
    text-transform: capitalize;
    display: block;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2;
    color: #656689;
}
.footer__contact-item > a:hover {
    text-decoration: underline;
    text-shadow: 1px 0 0 #656689;
}
.footer__contact-item > a:first-child {
    margin-top: 14px;
}
.footer__contact-box a,
p {
    display: block;
    font-weight: 400;
    font-size: 1.4rem;

    color: #656689;
}
.footer__contact-box a:first-child {
    margin-top: 14px;
}
.footer__contact-box a + a {
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer__contact-box > p {
    margin-top: 12px;
}
.footer__contact-title {
    font-weight: 600;
    font-size: 1.8rem;
    color: #000958;
}

.copyright {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.17;

    color: #656689;
    user-select: none;
    opacity: 0.5;
}
